useDynLib(after)
importFrom("grDevices", "boxplot.stats")
importFrom("graphics", "par", "points")
importFrom("stats", "acf", "as.ts", "complete.cases", "cor",
           "decompose", "end", "fitted", "frequency", "is.ts", "loess",
           "median", "model.matrix", "predict", "predict.lm", "qnorm",
           "qt", "quantile", "residuals", "rnorm", "sd", "start",
           "stl", "t.test", "ts", "tsp", "tsp<-")
importFrom("utils", "setTxtProgressBar", "tail", "txtProgressBar")
importFrom(Rcpp, evalCpp)


# after
export(arimaf)
export(dynrmf)
export(eatf)
export(ensemblef)
export(garch11f)
export(lmf)
export(mmf)
export(smoothf)

# reg. mts
export(ridgef)
export(ridge2f)
export(nnlsf)
export(krlsf)
export(varf)
export(pcrf)

# reg. mts ensemble
export(bag_ridge2f)
export(stack_data_ridge2f)
export(glmboostf)
export(xgboostf)
export(scnf)
export(plsf)

# mts benchs
export(mtsmeanf)
export(mtsmedianf)
export(mtsrwf)
