useDynLib(after)
export(arimaf)
export(dynrm_fit)
export(dynrm_predict)
export(eatf)
export(embed_reg)
export(ensemblef)
export(fit_lm)
export(garch11f)
export(get_correlated_var)
export(mlf)
export(mmf)
export(predict_lm)
export(scale)
export(smoothf)
export(target_based_encoder)
export(treat_outliers)
export(embedc)
importFrom(Rcpp, evalCpp)
